@model IEnumerable<AccessDatabaseWebApp.Models.TypeModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Microsoft Access Database Search Tool</h1>
    <p>Search through the Mmsys database by object type and title below!</p>
</div>

<div style="text-align: center">
    <form method="POST" asp-controller="Home" asp-action="Results">
        @Html.DropDownList("objtype", new SelectList(Model.Select(m => m.objtype)), "Select All Types") 
        @Html.TextBox("title", "")
        <input type="submit" id="submit" value="Search" />
    </form>
</div>

